* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 8px;
  }
}
